privy-app-id=<your privy app id>
privy-app-secret=<your privy app secret>
wallet-id=<privy wallet id>
turnkey-organization-id=<turnkey prod org>
turnkey-api-public-key=<turnkey API pubkey>
turnkey-api-private-key=<turnkey API privkey>
turnkey-sign-with=<address to sign with>
