privy-app-id=<your privy app id>
privy-app-secret=<your privy app secret>
wallet-id=<privy wallet id>
turnkey-organization-id=<turnkey prod org>
turnkey-api-public-key=<turnkey API pubkey>
turnkey-api-private-key=<turnkey API privkey>
turnkey-sign-with=<address to sign with>
cdp-wallet-secret=<CDP wallet secret, base64 encided>
cdp-api-key-id=<API key ID -- starts with organizations/.../>
cdp-api-key-secret=<ECDSA API secret key; starts with -----BEGIN EC PRIVATE KEY>
cdp-sign-with=<Solana address to sign with>
